@import './variabals';
@import './mixin';

@import './card'; //here is custom card css



body{
    margin: $marginZero;
    overflow: scroll;
    background: $background;
    overflow-x: hidden;
}


//ASDF
//Here is nav-bar starts
.nav-wrapper{
    @include flexCenter();
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: auto;
    width: 90%;
    height: 60px;
    border-radius: 5px 5px 10px 10px;
    padding: 0 25px;
    background: #292B2C;

}


.nav-tabs{
    @include flexCenter();
    font-weight: 600;
    font-size: 18px;
    list-style: none;
    background: lightgrey;
    height: 50px;
    border-radius: 5px 5px 5px 5px;
}

.nav-tab {
    &:hover{
        background: $whiteSmoke;
        cursor: pointer;
    }
    padding-left: 5px;
    padding-right: 5px;
}

.burger{
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: red;
    margin: 5px;
}


//responsive design
@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }

    .nav-container{
        width: 60%;
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 65px;
        background-color: #292B2C;
        border-radius: 5px;
        display: none;
        //transform: translateX(110%);
    }
    .nav-tabs{
        top: 0px;
        position: relative;
        display: flex;
        flex-direction: column;
        height: 82vh;
        background-color: rgb(198, 221, 250);
        align-items: center;
    }

    .nav-tab{
        align-items: center;
        height: 100%;
        justify-content: center;
        padding: 30px;
        cursor: pointer;
        border-radius: 15px;
    }


    .burger{
        display: block;
        cursor: pointer;
    }

}

@media screen and (max-width: 480px){
    .description{
        padding: 20px 20px 20px;
        font-weight: 500;
        font-size: 18px;
    }


    .footer-wrapper{
        @include flexCenter();
        width: 100%;
        height: 40px;
        border-radius: 10px 10px 0 0;
        background:#292B2C; 
        position: sticky;
        bottom: 0;
        margin-left: 5%;
    }

    .footer-content{
        @include flexCenter();
        justify-content: center;
        color: lightsteelblue;
        font-weight: 600;
        font-size: 18px;
        margin: auto;
    }


}

//end of nav-bar



// Here is footer starts
.footer-wrapper{
    @include flexCenter();
    width: 90%;
    height: 60px;
    border-radius: 10px 10px 0 0;
    background:#292B2C; 
    position: sticky;
    bottom: 0;
    margin-left: 5%;

}

.footer-content{
    @include flexCenter();
    justify-content: center;
    color: lightsteelblue;
    font-weight: 600;
    font-size: 18px;
    margin: auto;
}
// end of Footer


//about me section
.text-center{
    text-align: center;
}

.intro-img{
    img{
        margin: auto;
    }
    
}

.intro-text{
    margin: auto;
}
.intro-social {
    margin: auto;
    display: flex;
}
.list-inline{
    margin: auto;
    list-style: none;
    display: flex;
    padding:5px 5px;
    li{
        padding: 5px 5px;
    }
}

.aboutMe{
    width: 70%;
    background: rgb(198, 221, 250);
    margin: auto;
    padding-top: 8px;
    border-radius: 15px;
}
.description{
    padding: 20px 20px 20px;
    font-weight: 400;
    font-size: 16px;
}
//end of about me section


