body{
    margin: 0;
    overflow: scroll;
    background: lightgrey;
}

.nav-wrapper{
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 80%;
    height: 60px;
    border-radius: 5px 5px 10px 10px;
    padding: 0 25px;
    z-index: 2;
    background: #292B2C;
    box-shadow:0 1px 2px lightsteelblue;

}

.nav-tabs{
    display: flex;
    font-weight: 600;
    font-size: 18px;
    list-style: none;
    background: lightgrey;
    height: 50px;
    align-items: center;
    border-radius: 5px 5px 5px 5px;
}

.nav-tab, .menu-btn{
    cursor: pointer;
}

.nav-tab:not(:last-child) {
    padding: 20px 25px;
    margin: 0;
    border-right: unset;
    border-bottom: 1px solid #f5f5f5;
}

.nav-tab:last-child {
    padding: 15px 25px;
}
.hidden{
    display: none;
}

.footer-wrapper{
    display: flex;
    width: 90%;
    height: 90px;
    border-radius: 10px 10px 0 0;
    background:#292B2C;
    align-items: center;
    position: sticky;
    bottom: 0;
    margin-left: 5%;

}

.tmp{
    align-items: center;
    color: lightsteelblue;
    font-weight: 600;
    font-size: 18px;
    margin: auto;
}

.text-center{
    text-align: center;
}

img{
    margin: auto;
}

.intro-text{
    margin: auto;
}
.intro-social {
    margin: auto;
    display: flex;
}
.list-inline{
    margin: auto;
    list-style: none;
    display: flex;
    padding:5px 5px;
}
li{
    padding: 5px 5px;
}
.aboutMe{
    width: 70%;
    background: rgb(198, 221, 250);
    margin: auto;
    padding-top: 8px;
    border-radius: 15px;
}
.description{
    padding: 20px 20px 20px;
    font-weight: 400;
    font-size: 16px;
}


/* Custom Bootsrap css*/
.row{
    padding: 1rem;
}
.col{
    padding: 10px;
}


