.ShowButton{
   width: 65px;
   opacity: 0;
}


input {
    padding-right: 10px;
    height: 100%;
    width: 93%;
    text-align: right;
    font-family: SF UI Display;
    font-size: 30px;
    background: #f4f4f4;
    border: 2px solid rgba(66,66,66,1);
    border-width: 1px 1px 1px 0;
    box-shadow: 2px 2px rgba(48,48,48,1);
    border-radius: 6px;
    color:#bf360c;
}

button{
    cursor: pointer;
    background-color:  rgba(48,48,48,1);
    width: 58px;
    height: 48px;
    font-family: SF UI Display;
    font-size: 24px;
    color: rgba(255,255,255,1);
    border: none;
    white-space: nowrap;
    box-sizing: border-box;
    filter: drop-shadow(0px 6px 9px rgba(0, 0, 0, 0.149));
    border-radius: 3px;
}
body {
    background-color: rgba(48,48,48,1);
  }

.divTable
{
    display:table;
    width:332px;
    height: 417px;
    border-spacing:20px;
    background-color:rgba(66,66,66,1); 
    margin: 50px auto;
    border-radius: 10px;
}

.divRow
{
   display:table-row;
   width:100%;
   background-color: rgba(66,66,66,1);
}
.div4Cells
{
    float: left;
    display:table-cell;
    width:25%;
    border-spacing:25px;
    text-align: center;
    align-content: center;
    margin: auto;
    vertical-align: baseline;

}

.divCell
{
    text-align: right;
    vertical-align: center;
    float: left;
    display:table-cell;
    width:100%;
    margin: auto
}

button:hover, button:active   {
    background-color:  rgba(48,48,48,1);
    border-color: currentColor;
    background-color: #61AFA8;
 }
 #euqal:hover, #euqal:active   {
    background-color:  rgba(48,48,48,1);
    border-color: currentColor;
    background-color: #870000;
 }
 #dot:hover, #dot:active   {
    background-color:  rgba(48,48,48,1);
    border-color: currentColor;
    background-color: #bf360c;
 }
 #plusminus:hover, #plusminus:active   {
    background-color:  rgba(48,48,48,1);
    border-color: currentColor;
    background-color: #bf360c;
 }
 #plus:hover, #plus:active   {
    background-color:  rgba(48,48,48,1);
    border-color: currentColor;
    background-color: #bf360c;
 }
 #minus:hover, #minus:active   {
    background-color:  rgba(48,48,48,1);
    border-color: currentColor;
    background-color: #bf360c;
 }
 #mult:hover, #mult:active   {
    background-color:  rgba(48,48,48,1);
    border-color: currentColor;
    background-color: #bf360c;
 }
 #divide:hover, #devide:active   {
    background-color:  rgba(48,48,48,1);
    border-color: currentColor;
    background-color: #bf360c;
 } #koren:hover, #koren:active   {
    background-color:  rgba(48,48,48,1);
    border-color: currentColor;
    background-color: #bf360c;
 } #squre:hover, #squre:active   {
    background-color:  rgba(48,48,48,1);
    border-color: currentColor;
    background-color: #bf360c;
 } #del:hover, #del:active   {
    background-color:  rgba(48,48,48,1);
    border-color: currentColor;
    background-color: #870000;
 }